@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=swap&subset=hebrew');

* {
  font-family: 'Assistant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #003b6d;
  color: #fff2e8;
  text-align: center;
}

button {
  background-color: burlywood;
  color: #003b6d;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  transition: .2s;
}

button:hover {
  box-shadow: 4px 7px 8px 3px #00000047;
}

button:active {
  box-shadow: inset 1px 1px 3px 2px #0000001f;
}